<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name='robots' content='index,follow'>
<meta name='description' content='descripcion'>
<title>text</title>
<link rel='stylesheet' href='./index.css'>
</head>
<body>
    <h1>Estadísticas</h1>

    <h2>Nombre</h2>
    <p>{{ nombre }}</p>

    <h2>correo</h2>
    <p>{{ correo }}</p>

    <h2>Puntajes de Ingeniería</h2>
    <p>{{ ingenieria }}</p>

    <h2>Puntajes de Medicina</h2>
    <p>{{medicina }}</p>

    <h2>Puntajes de Economía</h2>
    <p>{{ economia }}</p>
</body>
</html>